*.xml
*.txt
*.log
*config.php
*.env
scripts/
.gemini/
.cursor/
images/
rules/
*.jpeg
*.jpg
*.gif
*.png
*.svg
*.webp
*.log
*.tmp
*.ps1
*.bash
*.mdc
*.txt
scripts/
.gemini/
.cursor/
images/
rules/
*.jpeg
*.jpg
*.gif
*.png
*.svg
*.webp
*.log
*.tmp
*.ps1
*.bash
*.mdc
*.txt
*.json
*.yml
nodemodules/
.DS_Store
.vscode/
.husky/
node_modules/
# Dependencies
package-lock.json
package.json
yarn.lock
.pnpm-lock.yaml
commitlint.config.js